CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
libenvoy-wasm-example.so
envoy-wasm-example.wast
envoy-wasm-example.wasm
envoy-wasm-example.js